<section class="bg-black h-screen w-screen text-center relative overflow-hidden">
    <div class="z-30 relative h-full flex flex-col">
        <header class="">
            <h2 class="text-black pt-40 text-[40px] font-medium">Modelo 3</h2>
            <p class="text-black text-sm">Ver inventario</p>
        </header>

        <footer class="flex flex-grow flex-col justify-end pb-24">
            <div class="gap-x-6 flex mx-auto">
                <a class="bg-gray-600 rounded text-sm font-medium text-white px-12 py-2 hover:bg-black hover:text-white transition-colors" 
                href="#">Explorar inventario
                </a>
                <a class="bg-white rounded text-sm font-medium text-black px-12 py-2 hover:bg-white hover:text-black transition-colors" 
                href="#">Pedido personalizado
                </a>

            </div>
            
        </footer>
    </div>
    <div class="absolute top-0 bottom-0 w-full h-full z-10">
    <img src="/foto3.avif" alt="Model Y" class="h-full w-full object-cover object-center" ></img>
    </div>
    
</section>